.table-home{
    border:  1px solid black;
    width: 70%;
    margin-top: 20px;
    margin-left: 200px;
    border-bottom: none;
    border-top: none;
   
}
.table-head-tr{
    border: 1px solid black;
}
.table-th{
    border: 1px solid black;
}
.table-td{
    border-bottom: 1px solid black;
}
.from{
    
    margin-top: 20px;
    width: 70%;
    margin-left: 200px;
    display: flex;
    justify-content: space-evenly;

}
.Input{
    height: 40px;
    width: 300px;
}